.login-logo {
  text-align: center;
  margin-top: 2px;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  color: #1a1a1a;
}

.login-sub-title {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-top: 7px;
  color: #424242;
}

.login-title {
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  color: #0f342d;
}
.login-button {
}
