.ourstory .p-carousel-indicators {
  margin-top: 5rem !important;
}
.ourstory .p-carousel-indicator {
  margin: 0 !important;
  width: 50%;
  border-top: 1px solid white !important;
}

.ourstory .p-highlight {
  background-color: #ececec !important ;
}

.ourstory .p-carousel-indicator button {
  width: 100% !important;
  display: none;
  background-color: transparent !important;
  height: 0.3rem !important;
}

.ourstory .p-carousel-container {
  position: relative;
}

.ourstory .p-carousel-prev {
  display: none;
}

.ourstory .p-carousel-next {
  position: absolute;
  right: 0;
  bottom: -50%;
  border: 1px solid white !important;
  color: white !important;
}

.ourstory .p-carousel-next:hover {
  background-color: gray !important;
}

.ourstory .p-carousel-next svg {
  width: 25px;
  height: 25px;
}

.ourstory .p-carousel-next svg path {
  padding: 2rem;
}
@media screen and (max-width: 900px) {
  .ourstory-cont {
    display: flex;
    flex-direction: column-reverse;
  }
  .ourstory-right {
    padding: 0px;
  }
  .ourstory-img {
    padding: 20px;
    width: 100%;
    height: 400px;
  }
  .ourstory-cont {
    padding: 0 50px;
  }
  .ourstory-button {
    margin-top: 20px;
    width: 100%;
  }
  .ourstory-title {
    margin-left: 70px;
    padding: 30px 0;
    font-size: 52px;
  }
}
@media screen and (max-width: 500px) {
  .ourstory-title {
    font-size: 50px;
    padding: 0 20px;
    margin-left: 20px;
  }
  .ourstory-cont {
    padding: 20px;
  }
}
